node_modules/

dist/

.env
.env.local
.env.*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/
.vscode/

.DS_Store
Thumbs.db

jest-cache/
jest-config/

prisma/dev.db
prisma/dev.db-journal

*.swp
.idea/
*.sublime-workspace
*.sublime-project
